{% extends 'index.html' %} {% block script %} {% endblock %} {% block content %}
<h1>Registros</h1>
<section id="table_section">
  <table>
    <thead>
      <th>ID</th>
      <th>Hora</th>
      <th>Fecha</th>
      <th>Curso</th>
      <th>Paralelo</th>
      <th>Horario</th>
      <th>Carrera</th>
      <th>Facultad</th>
    </thead>
    <tbody id="table_body">
      {%for register in registers%}
      <tr>
        <td>1</td>
        <td>{{ register.hora }}</td>
        <td>{{ register.fecha }}</td>
        <td>{{ register.curso }}</td>
        <td>{{ register.paralelo }}</td>
        <td>{{ register.horario }}</td>
        <td>{{ register.carrera }}</td>
        <td>{{ register.facultad }}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</section>
{% endblock %}
